.main {
  width: 80vw;
  min-height: 0;
}

.projects {
  overflow-y: auto;
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
