.wall88x31 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-self: center;
}

.wall88x31 h1 {
  text-align: center;
}

.container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 88px);
  gap: 8px;
  justify-content: center;
}

@media (min-width: 769px) {
  .wall88x31 {
    width: 60vw;
  }
}
