.footer {
  bottom: 0;
  text-align: center;
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--fg-muted);
}

.footer hr {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1px;
  border: 1px solid var(--border);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 769px) {
  .content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

.footer a {
  color: var(--fg-muted);
  text-decoration: none;
}

.footer a:hover {
  color: var(--primary);
}
